{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sheesho | Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}" />
  </head>
  <body>
    <div class="admin-wrapper">
      <!-- Left branding -->
      <div class="admin-left">
        <h1>Sheesho</h1>
        <p>Admin Panel</p>
        <span>Restricted access</span>
      </div>

      <!-- Right login -->
      <div class="admin-right">
        <h2>Admin Login</h2>
        <p class="subtext">Sign in to continue</p>

        <!-- Error message -->
        {% if error %}
        <div class="error-box">{{ error }}</div>
        {% endif %}

        <form method="POST">
          {% csrf_token %}

          <div class="input-box">
            <label>Username</label>
            <input type="text" name="username" required />
          </div>

          <div class="input-box">
            <label>Password</label>
            <input type="password" name="password" required />
          </div>

          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
